/**/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
button,
textarea,
p,
blockquote,
th,
td,
iframe,
.h10,
.h20 {
  margin: 0;
  padding: 0;
}
.article-summry h1 a {
  color: #093D72;
}
.fr {
  float: right;
}
.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
#honey-comment a {
  color: #848484;
}
#honey-comment .honey-comment-pages {
  margin: 20px 0;
  padding: 0 10px;
  text-align: right;
}
#honey-comment .honey-comment-pages a {
  padding: 5px;
  line-height: 19px;
  overflow: hidden;
  font-weight: bold;
  color: #aeaeae;
}
#honey-comment .honey-comment-pages a:hover,
#honey-comment .honey-comment-pages a.on {
  color: #ff8400;
}
#honey-comment .honey-comment-pages a.page-btnl {
  padding: 5px 10px;
  background: url("//honey.hunantv.com/img/icon/btn1.png") no-repeat center center;
}
#honey-comment .honey-comment-pages a.page-btnl:hover {
  background: url("//honey.hunantv.com/img/icon/btn1-0.png") no-repeat center center;
  text-decoration: none;
}
#honey-comment .honey-comment-pages a.page-btnr {
  padding: 5px 10px;
  background: url("//honey.hunantv.com/img/icon/btn2.png") no-repeat center center;
}
#honey-comment .honey-comment-pages a.page-btnr:hover {
  background: url("//honey.hunantv.com/img/icon/btn2-0.png") no-repeat center center;
  text-decoration: none;
}
#honey-comment h3 {
  font-size: 18px;
  font-weight: 600;
  padding: 0 10px;
  font-family: "微软雅黑";
}
#honey-comment h3 span {
  font-size: 12px;
  color: gray;
}
#honey-comment textarea {
  background-color: #fff;
  font-size: 14px;
}
#honey-comment ul.honey-comment-list {
  margin-top: 10px;
  padding: 0 10px;
}
#honey-comment ul.honey-comment-list li {
  border-bottom: 1px dotted #E1E1E1;
  overflow: hidden;
  padding-bottom: 15px;
  padding-top: 25px;
}
#honey-comment ul.honey-comment-list .honey-comment-avatar {
  float: left;
  position: relative;
}
#honey-comment ul.honey-comment-list .honey-comment-avatar a {
  display: block;
  width: 60px;
  height: 60px;
  background: url("//honey.hunantv.com/img/icon/imgNone.png") no-repeat 0 0;
  overflow: hidden;
}
#honey-comment ul.honey-comment-list .honey-comment-avatar p {
  text-align: center;
  color: #9f9f9f;
  padding-top: 5px;
}
#honey-comment ul.honey-comment-list .honey-comment-body {
  margin-left: 75px;
}
#honey-comment ul.honey-comment-list .honey-comment-body p {
  margin-bottom: 3px;
}
#honey-comment ul.honey-comment-list .honey-comment-body .top {
  color: #aaa;
}
#honey-comment ul.honey-comment-list .honey-comment-body .top a {
  color: #ff8400;
}
#honey-comment ul.honey-comment-list .honey-comment-body .content {
  color: #545454;
  font-size: 14px;
}
#honey-comment ul.honey-comment-list .honey-comment-body .actions {
  text-align: left;
}
#honey-comment ul.honey-comment-list .honey-comment-body .actions a {
  color: #ccc;
  margin-right: 10px;
}
#honey-comment ul.honey-comment-list .honey-comment-body .actions a em {
  color: #ff8400;
  font-style: normal;
}
#honey-comment ul.honey-comment-list .honey-comment-body .actions a strong {
  color: #ff8400;
  font-weight: 200;
}
#honey-comment ul.honey-comment-list .honey-comment-body .arrow {
  position: absolute;
  background: url("//honey.hunantv.com/img/sprites/public.png") no-repeat -19px -69px;
  width: 10px;
  height: 6px;
  top: -5px;
  overflow: hidden;
}
#honey-comment ul.honey-comment-list .honey-comment-body .reply,
#honey-comment ul.honey-comment-list .honey-comment-body .origin-content,
#honey-comment ul.honey-comment-list .honey-comment-body .origin-contents {
  background-color: #f6f6f6;
  border: 1px solid #dfe1e1;
  color: #777777;
  padding: 12px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
#honey-comment ul.honey-comment-list .honey-comment-body .reply,
#honey-comment ul.honey-comment-list .honey-comment-body .origin-content {
  border-radius: 3px;
}
#honey-comment ul.honey-comment-list .honey-comment-body .origin-content p {
  display: block;
  width: 100%;
}
#honey-comment ul.honey-comment-list .honey-comment-body .origin-contents {
  border-color: #dcdcdc;
  color: #444;
  padding: 3px;
  border-radius: 3px;
  margin-top: 0;
  margin-bottom: 15px;
}
#honey-comment ul.honey-comment-list .honey-comment-body .origin-contents small {
  float: right;
  color: #545454;
}
#honey-comment ul.honey-comment-list .honey-comment-body .origin-contents p {
  padding: 5px 10px;
  font-size: 14px;
}
#honey-comment ul.honey-comment-list .honey-comment-body .origin-contents p.actions {
  font-size: 12px;
  padding: 0;
}
#honey-comment ul.honey-comment-list .honey-comment-body .origin-contents p.inner1 {
  padding: 0 10px;
}
#honey-comment ul.honey-comment-list .honey-comment-body .origin-contents span {
  color: #999;
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
}
#honey-comment ul.honey-comment-list .honey-comment-body .origin-contents span a {
  color: #ff8400;
}
#honey-comment ul.honey-comment-list .honey-comment-body .origin-content p {
  display: block;
}
#honey-comment ul.honey-comment-list .honey-comment-body .origin-content p em {
  color: #637792;
  display: block;
  width: 100%;
  font-style: normal;
  overflow: hidden;
}
#honey-comment ul.honey-comment-list .honey-comment-body .origin-content p em a {
  color: #637792;
  font-weight: normal;
}
#honey-comment ul.honey-comment-list .honey-comment-body .origin-content .arrow {
  left: 7px;
}
#honey-comment ul.honey-comment-list .honey-comment-body .reply {
  padding: 0;
  margin: 0;
}
#honey-comment ul.honey-comment-list .honey-comment-body .reply table {
  overflow: hidden;
}
#honey-comment ul.honey-comment-list .honey-comment-body .reply .reply-input {
  position: relative;
  padding: 10px;
  background-color: #fff;
}
#honey-comment ul.honey-comment-list .honey-comment-body .reply .reply-input .notice {
  position: absolute;
  width: 100%;
  left: 0;
  top: 1px;
  height: 34px;
  display: none;
  text-align: center;
  line-height: 34px;
}
#honey-comment ul.honey-comment-list .honey-comment-body .reply .reply-input p {
  padding: 10px;
}
#honey-comment ul.honey-comment-list .honey-comment-body .reply .reply-input input {
  border: 0;
  color: #cecece;
  font-size: 14px;
}
#honey-comment ul.honey-comment-list .honey-comment-body .reply table,
#honey-comment ul.honey-comment-list .honey-comment-body .reply .reply-input input {
  width: 100%;
}
#honey-comment ul.honey-comment-list .honey-comment-body .reply .reply-login {
  padding: 10px;
}
#honey-comment ul.honey-comment-list .honey-comment-body .reply .reply-login span {
  margin: 0 5px;
}
#honey-comment ul.honey-comment-list .honey-comment-body .reply .reply-login input {
  margin-right: 10px;
  padding: 3px;
  width: 70px;
}
#honey-comment ul.honey-comment-list .honey-comment-body .reply .arrow {
  left: 7px;
}
#honey-comment ul.honey-comment-list .honey-comment-body .reply .reply-button {
  text-align: right;
  padding: 5px 0;
  color: #c9c9c9;
  background: #f1f1f1;
  line-height: 30px;
}
#honey-comment ul.honey-comment-list .honey-comment-body .reply .reply-button span {
  display: block;
  width: 135px;
  line-height: 30px;
  padding: 0 10px;
  float: left;
  text-align: left;
}
#honey-comment ul.honey-comment-list .honey-comment-body .reply .reply-button img {
  vertical-align: middle;
  width: 140px;
  height: 20px;
}
#honey-comment ul.honey-comment-list .honey-comment-body .reply .reply-button input {
  width: 64px;
  height: 28px;
  background: #f6f6f6;
  color: #dcdcdc;
  border-radius: 2px;
  border: 1px solid #dcdcdc;
}
#honey-comment ul.honey-comment-list .honey-comment-body .reply .nologin-info {
  padding: 10px;
  font-size: 14px;
  background-color: #fff;
  padding-bottom: 30px;
}
#honey-comment .bluebox-style {
  border-top: 1px solid #e6e6e6;
  border-bottom: 4px solid #fe992b;
  background-color: #fff8f1;
  position: relative;
}
#honey-comment .bluebox-style .span-line {
  display: block;
  width: 100px;
  height: 1px;
  overflow: hidden;
  background: #fe992b;
  position: absolute;
  top: -1px;
  left: 0;
}
#honey-comment .bluebox-style h4 {
  font-size: 16px;
  color: #666;
  font-family: "微软雅黑";
}
#honey-comment .bluebox-style h4 em {
  color: #ff8400;
  font-style: normal;
}
#honey-comment .honey-comment-text {
  margin-top: 30px;
  padding: 0 10px;
}
#honey-comment .honey-comment-text .com-box-til {
  height: 60px;
  line-height: 60px;
  position: relative;
  z-index: 5;
}
#honey-comment .honey-comment-text .com-box-til h5 {
  font-size: 12px;
  font-weight: 200;
  float: left;
  line-height: 60px;
  _padding-top: 10px;
  margin-right: 20px;
}
#honey-comment .honey-comment-text .com-box-til h5 em {
  color: #ff8400;
  font-style: normal;
}
#honey-comment .honey-comment-text .com-box-til h5 img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
#honey-comment .honey-comment-text .com-box-til h5 span {
  color: #999;
  margin: 0 10px;
}
#honey-comment .honey-comment-text .com-box-til .combox-face-main {
  position: relative;
  float: left;
  width: 30px;
  height: 60px;
}
#honey-comment .honey-comment-text .com-box-til .combox-face-main .all-a {
  width: 30px;
  height: 60px;
  display: block;
  background: url("//honey.hunantv.com/img/icon/ico-02.png") center center no-repeat;
}
#honey-comment .honey-comment-text .com-box-til .combox-face-main .all-a:hover,
#honey-comment .honey-comment-text .com-box-til .combox-face-main .all-a.on {
  background: url("//honey.hunantv.com/img/icon/ico-01.png") center center no-repeat;
}
#honey-comment .honey-comment-text .com-box-til .combox-face-main .combox-face {
  display: none;
  position: absolute;
  top: 45px;
  left: -10px;
  padding-top: 7px;
  width: 251px;
  height: 54px;
  line-height: 54px;
  z-index: 20;
  background: url("//honey.hunantv.com/img/icon/ico-03.png") 0 0 no-repeat;
}
#honey-comment .honey-comment-text .com-box-til .combox-face-main .combox-face a {
  float: left;
  display: inline-block;
  _display: inline;
  width: 40px;
  height: 36px;
  margin-left: 10px;
  margin-top: 10px;
  overflow: hidden;
  background: url("//honey.hunantv.com/img/icon/face.png") no-repeat;
}
#honey-comment .honey-comment-text .com-box-til .combox-face-main .combox-face a.face-1 {
  background-position: 0 0;
}
#honey-comment .honey-comment-text .com-box-til .combox-face-main .combox-face a.face-1:hover,
#honey-comment .honey-comment-text .com-box-til .combox-face-main .combox-face a.face-1.on {
  background-position: 0 -51px;
}
#honey-comment .honey-comment-text .com-box-til .combox-face-main .combox-face a.face-2 {
  background-position: -50px 0;
}
#honey-comment .honey-comment-text .com-box-til .combox-face-main .combox-face a.face-2:hover,
#honey-comment .honey-comment-text .com-box-til .combox-face-main .combox-face a.face-2.on {
  background-position: -50px -51px;
}
#honey-comment .honey-comment-text .com-box-til .combox-face-main .combox-face a.face-3 {
  background-position: -99px 0;
}
#honey-comment .honey-comment-text .com-box-til .combox-face-main .combox-face a.face-3:hover,
#honey-comment .honey-comment-text .com-box-til .combox-face-main .combox-face a.face-3.on {
  background-position: -99px -51px;
}
#honey-comment .honey-comment-text .com-box-til .combox-face-main .combox-face a.face-4 {
  background-position: -148px 0;
}
#honey-comment .honey-comment-text .com-box-til .combox-face-main .combox-face a.face-4:hover,
#honey-comment .honey-comment-text .com-box-til .combox-face-main .combox-face a.face-4.on {
  background-position: -148px -51px;
}
#honey-comment .honey-comment-text .com-box-til .combox-face-main .combox-face a.face-5 {
  background-position: -197px 0;
}
#honey-comment .honey-comment-text .com-box-til .combox-face-main .combox-face a.face-5:hover,
#honey-comment .honey-comment-text .com-box-til .combox-face-main .combox-face a.face-5.on {
  background-position: -197px -51px;
}
#honey-comment .honey-comment-text .comment-input {
  border: 1px solid #dfe1e1;
  margin-top: 5px;
  border-radius: 3px 3px 0 0;
  position: relative;
  z-index: 4;
}
#honey-comment .honey-comment-text .comment-input h5,
#honey-comment .honey-comment-text .comment-input h4 {
  height: 70px;
  line-height: 70px;
  background-color: #f6f6f6;
  padding: 0 20px;
  border-bottom: 1px solid #dfe1e1;
  overflow: hidden;
}
#honey-comment .honey-comment-text .comment-input h5 {
  font-size: 12px;
}
#honey-comment .honey-comment-text .comment-input .textarea {
  padding: 10px;
}
#honey-comment .honey-comment-text .comment-input .notice {
  font-size: 12px;
  text-align: center;
  line-height: 80px;
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  display: none;
}
#honey-comment .honey-comment-text .comment-input .notice i {
  background: url("//honey.hunantv.com/img/sprites/public.png") no-repeat;
  height: 21px;
  width: 21px;
  display: inline-block;
  vertical-align: text-bottom;
  overflow: hidden;
  margin-right: 5px;
}
#honey-comment .honey-comment-text .comment-input .notice.success,
#honey-comment .honey-comment-text .comment-input .notice.error {
  background-color: #fff;
  color: #222;
  font-size: 20px;
}
#honey-comment .honey-comment-text .comment-input .notice.success i {
  background-position: -99px -81px;
}
#honey-comment .honey-comment-text .comment-input .notice.error i {
  background-position: -99px -51px;
}
#honey-comment .honey-comment-text .comment-input .notice,
#honey-comment .honey-comment-text .comment-input textarea {
  height: 90px;
  width: 100%;
  border: 0;
}
#honey-comment .honey-comment-text .comment-input p {
  font-size: 12px;
  color: #999;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #dfe1e1;
  background-color: #f6f6f6;
}
#honey-comment .honey-comment-text .comment-input p input {
  margin-right: 10px;
  padding: 3px;
  width: 100px;
}
#honey-comment .honey-comment-text .actions {
  color: #c9c9c9;
  background: #f1f1f1;
  height: 43px;
  line-height: 43px;
  border: 1px solid #eaeaea;
  border-top: 0;
  border-radius: 0 0 3px 3px;
}
#honey-comment .honey-comment-text .actions span {
  padding: 0 10px;
}
#honey-comment .honey-comment-text .actions .fr input {
  width: 64px;
  background: none repeat scroll 0 0 #F6F6F6;
  border: 1px solid #DCDCDC;
  border-radius: 2px 2px 2px 2px;
  color: #DCDCDC;
  height: 28px;
  display: inline-block;
}
#honey-comment .honey-comment-text .actions .fr img {
  vertical-align: middle;
  display: inline-block;
}
#honey-comment .selected,
#honey-comment .emo-small-1,
#honey-comment .emo-small-2,
#honey-comment .emo-small-3,
#honey-comment .emo-small-4,
#honey-comment .emo-small-5,
#honey-comment .emo-1,
#honey-comment .emo-2,
#honey-comment .emo-3,
#honey-comment .emo-4,
#honey-comment .emo-5 {
  position: absolute;
  background: url("//honey.hunantv.com/img/sprites/public.png") no-repeat 0 0;
  width: 40px;
  height: 40px;
  overflow: hidden;
  top: 15px;
  cursor: pointer;
}
#honey-comment .emo-small-1,
#honey-comment .emo-small-2,
#honey-comment .emo-small-3,
#honey-comment .emo-small-4,
#honey-comment .emo-small-5 {
  width: 25px;
  height: 25px;
  top: 40px;
  left: 40px;
}
#honey-comment .emo-small-1 {
  background-position: -92px -180px;
  _background: url("//honey.hunantv.com/i/image/icon/emo-small-1.gif") no-repeat 0 0;
}
#honey-comment .emo-small-2 {
  background-position: -92px -264px;
  _background: url("//honey.hunantv.com/i/image/icon/emo-small-2.gif") no-repeat 0 0;
}
#honey-comment .emo-small-3 {
  background-position: -92px -236px;
  _background: url("//honey.hunantv.com/i/image/icon/emo-small-3.gif") no-repeat 0 0;
}
#honey-comment .emo-small-4 {
  background-position: -92px -152px;
  _background: url("//honey.hunantv.com/i/image/icon/emo-small-4.gif") no-repeat 0 0;
}
#honey-comment .emo-small-5 {
  background-position: -92px -208px;
  _background: url("//honey.hunantv.com/i/image/icon/emo-small-5.gif") no-repeat 0 0;
}
#honey-comment .emo-1 {
  background-position: 0 -152px;
  right: 40px;
}
#honey-comment .emo-2 {
  background-position: 0 -195px;
  right: 100px;
}
#honey-comment .emo-3 {
  background-position: 0 -237px;
  right: 160px;
}
#honey-comment .emo-4 {
  background-position: -44px -152px;
  right: 220px;
}
#honey-comment .emo-5 {
  background-position: -44px -195px;
  right: 280px;
}
#honey-comment .btn {
  background: #fe992b;
  border-radius: 2px;
  width: 50px;
  height: 31px;
  color: #fff;
  margin-right: 6px;
  cursor: pointer;
  line-height: 28px;
  overflow: hidden;
  border: 0;
  _margin-top: 2px;
}
#honey-comment .selected {
  height: 10px;
  width: 10px;
  background-position: -19px -105px;
  top: 45px;
  z-index: 999;
}
#honey-comment .honey-comment-text .actions .fr,
#honey-comment ul.honey-comment-list .honey-comment-body .reply .reply-button .fr {
  height: 43px;
  line-height: 43px;
  position: relative;
  text-align: left;
  width: 260px;
}
#honey-comment .honey-comment-text .actions .fr .btn,
#honey-comment ul.honey-comment-list .honey-comment-body .reply .reply-button .fr .btn {
  position: absolute;
  right: 0;
  top: 5px;
}
#honey-comment .honey-comment-text .actions .fr img,
#honey-comment ul.honey-comment-list .honey-comment-body .reply .reply-button .fr img {
  position: absolute;
  right: 60px;
  top: 5px;
  width: 90px;
  height: 30px;
}
#honey-comment .honey-comment-text .actions .fr input,
#honey-comment ul.honey-comment-list .honey-comment-body .reply .reply-button .fr input {
  position: absolute;
  right: 155px;
  top: 5px;
  width: 54px;
}
#honey-comment ul.honey-comment-list .honey-comment-body .reply .reply-button .fr {
  height: 28px;
  line-height: 28px;
}
#honey-comment ul.honey-comment-list .honey-comment-body .reply .reply-button .fr .btn,
#honey-comment ul.honey-comment-list .honey-comment-body .reply .reply-button .fr input {
  top: -1px;
}
#honey-comment ul.honey-comment-list .honey-comment-body .reply .reply-button .fr img {
  top: 0;
}
